@model IEnumerable<ContosoSite.Models.Rents>

@{
    ViewBag.Title = "Rents";
}

<h2>Заказы всего автопарка</h2>

<p>
    @Html.ActionLink("Сформировать новый заказ", "Create")
</p>

<br>
@using (Html.BeginForm())
{

    <p>
        Найти по ФИО: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    <p>@ViewBag.ErrorMessage</p>
    </p>
}
<br>

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Время начала", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                <p>Время окончания</p>
            </th>
            <th>
                <p>Страховка</p>
            </th>
            <th>
                <p>Номер автомобиля</p>
            </th>
            <th>
                @Html.ActionLink("ФИО", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.startTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.insuranse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autopark.licensePlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.FIO)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.rentID }) |
                    @Html.ActionLink("Подробности", "Details", new { id = item.rentID }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.rentID })
                </td>
            </tr>
        }

    </table>
