@model ContosoSite.Models.ModelTable

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm(Html.BeginForm("Edit", "ModelTablesController", null, FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>ModelTable</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.modelID)

    <div class="form-group">
        @Html.LabelFor(model => model.brand, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.brand, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.brand, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.model, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.model, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.model, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.typeID, "typeID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("typeID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.typeID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="editor-label">Фото</div>
    <div class="editor-field">
        @if (Model.photo == null)
        {
            @:None
        }
        else
        {
            byte[] photo = Model.photo;
            string imageSrc = null;
            if (photo != null)
            {
                MemoryStream ms = new MemoryStream();
                ms.Write(photo, 0, photo.Length);
                string imageBase64 = Convert.ToBase64String(ms.ToArray());
                imageSrc = string.Format("data:image/jpg;base64,{0}", imageBase64);
                string base64String = Convert.ToBase64String(photo, 0, photo.Length);
            }
            <img width="250" height="150" src="@imageSrc" />
        }
        <div>Выбрать новую фотографию: <input type="file" name="upload" /></div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
