@model ContosoSite.Models.Users

@{
    ViewBag.Title = "Страница авторизации";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
        <h3>@ViewBag.Message</h3>
        <br><br>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <hr />

        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            

            <div>
                <p>E-mail: </p>
                @Html.EditorFor(model => model.email, "Эл. почта: ", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div><br>

            <div>
                <p>Пароль: </p>
                @Html.EditorFor(model => model.password, "Пароль: ", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>

            <br><br><input type="submit" value="Войти" /><br><br>
        </div>
    }

    <div>
        @Html.ActionLink("На главную", "Index")
    </div>
</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

