@model ContosoSite.Models.Users

@{
    ViewBag.Title = "Страница авторизации";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body class="homebody">
    <div class="AuthoContent">
        <div class="PageInfo">
            <h1 class="Text">Страница авторизации</h1>
            <h3 class="Text">Войдите в свой аккаунт здесь!</h3>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <hr />

            <div class="AuthoSpace">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="AuthoEditor">
                    <p class="Text">E-mail: </p>
                    @Html.EditorFor(model => model.email, "Эл. почта: ", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>

                <div class="AuthoEditor">
                    <p class="Text">Пароль: </p>
                    @Html.EditorFor(model => model.password, "Пароль: ", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>

            <br>

            
            <div class="AuthoSpace">
                <input type="submit" value="Войти" />
            </div>

            <br>

            <div class="AuthoSpace">
                @Html.ActionLink("На главную", "Index")
            </div>

        }
    </div>
</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

