@{
    ViewBag.Title = "Home Page";
}

<!-- Доделать функции для клиента: формирование заказа, калькуляция цены -->
<!-- Доделать функции для админа: формирование в ворде отчета по поломкам -->
<!-- Доделать функции для админа: формирование диаграммы по заказам (типы авто) -->

<body class="homebody">
    <div style="background-color: #fff;">

        <div class="jumbotron">
            @if (@User.Identity.IsAuthenticated)
            {
                <h1>Приветствуем!</h1>
                <p class="lead">Выполнен вход с аккаунта: @User.Identity.Name</p>
            }
            else
            {
                <h1>Приветствуем!</h1>
                <p>Войдите в аккаунт или зарегестрируйтесь</p>
            }
        </div>

        <!-- Функционал для авторизованного клиента -->
        @if (@User.Identity.IsAuthenticated)
        {
            <div class="MainPageActionSpace">
                <a class="ssylkabutton" href="../Rents/Index">Арендовать автомобиль</a>
            </div>
            <div class="MainPageActionSpace">
                <a class="ssylkabutton" href="../Rents/Index">Просмотреть доступные автомобили</a>
            </div>
            <div class="MainPageActionSpace">
                <a class="ssylkabutton" href="../Rents/Index">Че-нить еще</a>
            </div>
        }

        <!-- Функционал для авторизованного админа -->
        @if (@User.Identity.IsAuthenticated)
        {
            <div style="display: flex; align-items: center">
                <a href="../Home/AllTables" style="display: block; margin: auto;">Все таблицы</a>
            </div>
            <br><br><br>
        }

        <!-- Функционал для авторизованного сотрудника техподдержки -->
        <div>

        </div>

        <!-- Функционал для авторизованного механика -->
        <div>

        </div>

        <div style="display: flex;  flex-wrap: nowrap; align-items: center; justify-content: space-between; width: 300px; margin: auto;">
            @if (@User.Identity.IsAuthenticated)
            {
                <a href="../Home/LogOff" style="margin: auto;">Выйти из аккаунта</a>
            }
            else
            {
                <a href="../Home/Registration" style="display: block;">Заргестрироваться</a>
                <div style="width: 10px;"></div>
                <a href="../Home/Authorization">Войти в аккаунт</a>
            }
        </div>
    </div>
</body>